<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.p2onboarding">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".clinicaUniversitariaUnmsm"></activity>
        <activity android:name=".plazaFrayTomasUnmsm" />
        <activity android:name=".huacaUnmsm" />
        <activity android:name=".estadioUnmsm" />
        <activity android:name=".bibliotecaUnmsm" />
        <activity android:name=".fisiUnmsm" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".HomeAppActivity" />
        <activity android:name=".RegistrarseActivity" />
        <activity android:name=".IniciarSesionActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>